# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.streamlit/

# Database files
*.db
safetype.db

# Environments
.venv/
venv/
ENV/
env/

# IDE / Editor files
.vscode/
.idea/
*.swp
